
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio</title>
    <link rel="stylesheet" href="../static/css/estilos.css" type="text/css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
  <script src="https://kit.fontawesome.com/a7808df2eb.js" crossorigin="anonymous"></script>
</head>
<body>
    
    <header class="color">

    </header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <img class="Logo" src="../static/imagen/logo.png">
            <div class="container">
              <form class="d-flex">
                <input class="form-control me-2" type="search" placeholder="Busqueda" aria-label="Search"> <!--Barra de navegacion-->
                <button class="btn btn-outline-success" type="submit"><i class="fas fa-search"></i></button> <!--Boton de la lupa-->
              </form>
            </div>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link" href="#">Hospedaje</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Museos</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Cultura</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Salida</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
      <div class="container">
          <div class="row">
              <h1>Hospedaje</h1>
              <div class="col-3 mini_contenedor">
                  <img class="Imagen_1" src="../static/imagen/hotel_barcelo.jpg">
                  <a class="headers_inicio" href="#">Hotel Barcelo</a>
                  <p class="fuente_inicio">650 pesos la noche</p>
              </div>
              <div class="col-3">
                  <img class="Imagen_1" src="../static/imagen/Galeria_reforma.jpg">
                  <a class="headers_inicio" href="#">Hotel Galerias reforma</a>
                  <p class="fuente_inicio">700 pesos la noche</p>
              </div>
              <div class="col-3">
                  <img class="Imagen_1" src="../static/imagen/Hilton_garden.jpg">
                  <a class="headers_inicio" href="#">Hotel Hilton Garden </a>
                  <p class="fuente_inicio">800 pesos</p>
              </div>
              <div class="col-3">
                <img class="Imagen_1" src="../static/imagen/Collection_t2.jpg">
                <a class="headers_inicio" href="#">Hotel Collection Terminal 2</a>
                <p class="fuente_inicio">500 pesos</p>
            </div>
          </div>
      </div>

      <div class="container">
          <div class="row">
            <h1>Museos</h1>
              <div class="col-3">
                  <img class="Imagen_1" src="../static/imagen/Museo_antropologia.jpg">
                  <a class="headers_inicio" href="#">Museo Nacional de Antropología</a>
                  <p class="funete_inicio">Cerrado temporalmente</p>
              </div>
              <div class="col-3">
                  <img class="Imagen_1" src="../static/imagen/Museo_CDMX.jpg">
                  <a class="headers_inicio" href="#">Museo de la Ciudad de Mexico</a>
                  <p class="fuante_inicio">Cerrado temporalmente</p>
              </div>
              <div class="col-3">
                <img class="Imagen_1" src="../static/imagen/BellasArtes.jpg">
                <a class="headers_inicio" href="#">Palacio de bellas artes</a>
                <p class="fuante_inicio">Acceso gratuito</p>
            </div>
            <div class="col-3">
                <img class="Imagen_1" src="../static/imagen/Museo_Frida.jpg">
                <a class="headers_inicio" href="#">Museo Frida Kahlo</a>
                <p class="fuente_inicio">300 entrada general</p>
            </div>
          </div>
      </div>

      <div class="container">
          <div class="row">
              <h1>Cultura</h1>
              <div class="col-3">
                  <img class="Imagen_1" src="../static/imagen/Basilica_Gua.jpg">
                  <a class="headers_inicio" href="#">Basilica de Guadalupe</a>
                  <p class="fuente_inicio">Entrada gratuita</p>
              </div>
              <div class="col-3">
                  <img class="Imagen_1" src="../static/imagen/Bosque_chapu.png">
                  <a class="headers_inicio" href="#">Bosque de chapultepec</a>
                  <p class="fuente_inicio">Sin costo</p>
              </div>
              <div class="col-3">
                  <img class="Imagen_1" src="../static/imagen/Catedral_Metro.jpg">
                  <a class="headers_inicio" href="#">Catedral Metropolitana de la Ciudad de Mexico</a>
                  <p class="fuente_inicio">Entrada gratuita</p>
              </div>
              <div class="col-3">
                  <img class="Imagen_1" src="../static/imagen/Angel_Inde.jpg">
                  <a class="headers_inicio" href="#">Angel de la Independencia</a>
                  <p class="fuente_inicio">Sin costo</p>
              </div>
          </div>
      </div>

    <footer class="Color">
            <h6>Design by EAM team (: </h6>
    </footer>

</body>
</html>